doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title Mesto LK
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  //link(rel="icon" href=require("assets/images/globecom.png"))
  link(rel="canonical" href="https://dev.twitter.com/web/tweet-button")
body
  #app
